html {
  height: 100%;
}
body{
  font-family: 'arial';
  height: 100%;
  border: 1px solid red;
}

.marker{
  position: absolute;
  background: blue;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  top:0;
}